.App {
  text-align: center;
}
nav{
 text-transform: uppercase; 
 display: 'flex';
 height: 60;
align-items: 'center';
justify-content: "space-between";
background: "white";
color: "black";
text-transform: uppercase;
 
 
}

img{
   max-width: 100%;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: image;
  background-size: cover;
  background-repeat: no-repeat;
}



.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
  margin: Auto; 
  max-width: 1032; 
  flex: center;
  justify-content: space-between;
  height: 65;

  
}



.about_h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 8px;
}


body{ 
  font-family: Didot, serif;
  padding: 20px;
  background: "white";
  height: 92,2%;
}



.singleposts{
 
  margin-left:15%;
  border: 1px solid black;
  float: left;
  width: 75%;
  border-spacing: 2px;
   height: 92,2%;
}


.single_post_p {
  width: 70%;
  margin-left:15%;
  border: 1px solid black;
  line-height: 2; 
}





header{
  padding-right: 15px;
  font-size: 20px;
  text-align: left;
  background-image: 

}





footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}








input {
  width: 100%;
}


select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


.Contact{
  max-width: 420px;
     margin: 0 auto;
}

div.posts{
  display: grid;
  float: center;
  width: 75%;
  padding: 10px;
  width: 70%;
  margin-left:15%;
  border: 1px solid black;
  line-height: 2; 
}

.Read-More{

}
.card{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.post-images{
  width: 100%;
  padding: 20px;
}
.Author{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;
}

 p {
     text-align: center;
     font-weight: 500;
}

 input[type=text],input[type=email], select, textarea {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}
 input[type=submit] {
     background-color: #4CAF50;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 input[type=submit]:hover {
     background-color: #45a049;
}
 .container {
     border-radius: 5px;
     background-color: 'white';
     padding: 20px;
}

div.container{
  position: relative;
  min-height: 100vh;
  background-color: 'white';
}

.first-collumn-image{
  background-image: url('../images/zebra.jpg');
  float: left;
  display: block;
  margin: 15px 2% 0 2%;
  width: 26%;
  height: 100px;
  width: 100px;
}

div.first-collumn {
        float: left;
        display: block;
        margin: 10px 2% 0 2%;
        width: 66%; /* The width should be variable */
}
.second-collumn-image{
  background-image: url('../images/sloth.jpg');
  float: left;
  display: block;
  margin: 20px 2% 0 2%;
  width: 26%;
  height: 100px;
  width: 100px;
}

div.second-collumn {
        float: right;
        display: block;
        margin: 10px 2% 0 2%;
        width: 66%; /* The width should be variable */
}
.third-collumn-image{
  background-image: url('../images/hippo.jpg');
  float: left;
  display: block;
  margin: 15px 2% 0 2%;
  width: 26%;
  height: 100px;
  width: 100px;
}

div.third-collumn {
        float: left;
        display: block;
        margin: 10px 2% 0 2%;
        width: 66%; 
}

button {
  display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:'white';
 text-align:center;
 transition: all 0.2s;
}